@page "/"

<style>
    .contents {
        background-image: url(https://lh3.googleusercontent.com/proxy/6_Lc9VImb_AqnwhwTaTHjzBKhRCWJLBYhDrvvktGFCDjSMbexA603pKdEM16oqGPT8-yh180P3QmHsl1lCsErU58O3mDzfxliNz7kLSR2ogBGumEUkiVvGuDnzTwfN8pcnJatS2RHJEEuEjgyWMUtGJnY4H3aQMKH98aGBuYFxPmrevBzobBdEO9Zr1YjsmmSgfiRTdUjOWesGBZEV8);
        width: 100%;
        height:100%;
        background-size: cover;
        position:relative;

        display: flex;
        flex-direction:column;
        justify-content:center
        
        }
    .contents:before{
        content: "";
        width:100%;
        height:100%;
        background-color:black;
        position:absolute;
        opacity: 0.7;
    }
    .contents h1, p{
        position: relative;
        color:white;
    }
    .contents h1{
        font-size:60%;
        font-family:"fjalla one", sans-serif;
    }
    .contents p{
        font-size:25%;
        font-family:"loto";
        width:60%;
        text-align:center; 
    }
</style>

<div class="container">
    <h1>Bienvenido hermano que Dios te llene gracia y amor </h1>
    <p>Para poder usar nuestro servicios debes iniciar sesion...</p>
</div>

